body {

    /* width: 960px; */

    font-family: 'Courier New', Courier, monospace;

}

header {
    text-align: center;
    
    margin: 50px 0;

    background: rgba(255, 255, 255, 0.411);

    border: 30px 30px;

}

select {
    margin-top: 50px;
}
h1 {

    font-size: 60px;

}

h2 {
    margin-left: 30px;
    margin-top: 50px;
    font-size: 28px;
}

div {
    display: inline-flex;
    flex-direction: column;
}

img {

    width: 450px;
    
    height: 450px;

    margin: 20px 30px;

    /* border: 3px black solid; */

}
p {
    text-align: center;
}



footer {

    display: none;

}